micronaut:
  application:
    name: Key-Manager REST API

grpc:
  client:
    plaintext: true
    max-retry-attempts: 10
  channels:
    keyManager:
      address: 'localhost:50051'
      plaintext: true
      max-retry-attempts: 10